<% provide :title, "Home" %>
<section id="wrapper">

  <header id="header">
    <a id="title" class="index">Blog</a>
  </header>

  <% if logged_in? %>

      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <div class="row">
        <aside class="col-md-4">
          <section class="micropost_form">
            <%= render 'shared/micropost_form' %>
          </section>
        </aside>
      </div>
      <%= render 'shared/feed' %>
  <% end %>

  <!--<ul id="post-list">-->

    <%#= @posts.each do |p| %>

      <%#= render 'posts', post: p %>

    <%# end %>

  <!--</ul>-->

  <%= link_to "Sign up now!", '#', class: "" %>

  <footer id="footer">
    <p class="small">A short description</p>
  </footer>

</section>
