<% provide :title, "Home" %>
<section id="wrapper">

  <header id="header">
    <a id="title" class="index">Blog</a>
  </header>

  <ul id="post-list">

    <%= @posts.each do |p| %>

      <%= render 'posts', post: p %>

    <% end %>

  </ul>

  <%= link_to "Sign up now!", '#', class: "" %>

  <footer id="footer">
    <p class="small">A short description</p>
  </footer>

</section>
