<% provide :title, @user.name %>

<div class="user-wrapper">
  <aside class="user-profile">

    <section class="user_info">
      <h1>
        <div class="user-img">
          <%= gravatar_for @user %>
        </div>

        <h2>Username: <%= @user.name %></h2>
        <h2>E-mail: <%= @user.email %> </h2>
      </h1>
    </section>


  </aside>

  <section class="main-user-profile">
    <h2>Your posts</h2>

    <ul id="post-list">

      <li>
        <a href='/posts/getting-started.html'><aside class="dates">Nov 25</aside></a>
        <a href='/posts/getting-started.html'>Getting started <h2>An introduction.</h2></a>
      </li>

      <li>
        <a href='/posts/an-example-post.html'><aside class="dates">Oct 11</aside></a>
        <a href='/posts/an-example-post.html'>An example post <h2>Filled with sample content.</h2></a>
      </li>

      <li>
        <a href='/posts/another-example.html'><aside class="dates">Sep 15</aside></a>
        <a href='/posts/another-example.html'>Another example <h2>Set up with Markdown.</h2></a>
      </li>

    </ul>

  </section>
</div>

